Repository CISE5501/Assignment-1B, pull requests merged in 2023-10, with the labels that each got.

#16 Created a search bar in the homepage
  backend/src/user/user.controller.ts
  frontend/src/pages/index.tsx
  frontend/src/pages/search/index.tsx
Labels: User Story

#18 Tested for duplicate checking
  frontend/components/table/SortableTable.tsx
  frontend/tests/analyst/index.test.tsx
  frontend/tests/moderator/index.test.tsx
Labels: Tests

#15 Store list of rejected DOIs and add warning to previously-rejected articles in the Queue
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/models/rejected/dto/create-entry.dto.ts
  backend/src/models/rejected/rejected.interface.ts
  backend/src/models/rejected/rejected.schema.ts
  backend/src/models/rejected/rejected.service.ts
  backend/src/moderator/moderator.controller.ts
  backend/src/queue/articleQueue.controller.ts
  backend/src/user/user.controller.ts
  frontend/src/common/queueCommon.ts
  frontend/src/pages/analyst/index.tsx
  frontend/src/pages/moderator/index.tsx
  frontend/tests/analyst/index.test.tsx
  frontend/tests/moderator/index.test.tsx
Labels: User Story

#21 Tests for rejected list
  backend/src/moderator/moderator.controller.ts
  frontend/package.json
  frontend/src/pages/moderator/index.tsx
  frontend/tests/moderator/index.test.tsx
Labels: Tests

#20 Added form validation to input page
  frontend/components/ArticleSubmissionForm.tsx
Labels: User Story

#23 Tests for input form
  backend/.gitignore
  frontend/components/ArticleSubmissionForm.tsx
  frontend/tests/index/addArticle.test.tsx
Labels: Tests

#17 Add star rating system for articles
  backend/src/app.module.ts
  backend/src/models/ratings/dto/create-rating.dto.ts
  backend/src/models/ratings/dto/update-rating.dto.ts
  backend/src/models/ratings/starRating.interface.ts
  backend/src/models/ratings/starRating.schema.ts
  backend/src/models/ratings/starRating.service.ts
  backend/src/user/user.controller.ts
  frontend/components/table/SortableTable.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/articles/index.tsx
  frontend/tests/index/index.test.tsx
Labels: User Story, Tests

#24 Add analyst article editing page
  frontend/components/AnalystArticleEditForm.tsx
  frontend/components/AuthorInput.tsx
  frontend/components/KeywordsInput.tsx
  frontend/components/PopulatedNavbar.tsx
  frontend/components/SubmissionForm.module.scss
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/_app.tsx
  frontend/src/pages/analyst/[id].tsx
  frontend/src/pages/analyst/analyseArticle.tsx
  frontend/src/pages/analyst/index.tsx
  frontend/src/pages/articles/addArticle.tsx
  frontend/src/pages/moderator/index.tsx
  frontend/tests/analyst/[id].test.tsx
  frontend/tests/analyst/index.test.tsx
Labels: User Story, Tests

#22 Add option to search for only SE Method keywords
  backend/src/user/user.controller.ts
  frontend/src/pages/index.tsx
  frontend/src/pages/search/index.tsx
Labels: User Story

#19 Add tests for Search page
  backend/src/models/articles/article.service.ts
  backend/src/user/user.controller.ts
  frontend/components/search/SearchDisplay.tsx
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/articles/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/search/index.tsx
  frontend/tests/index/index.test.tsx
  frontend/tests/search/index.test.tsx
Labels: Tests

#13 Disallow URLs from being inputted into the database
  backend/src/analyst/analyst.controller.ts
  backend/src/common.ts
  backend/src/user/user.controller.ts
  frontend/components/form/ArticleSubmissionForm.tsx
Labels: User Story
